---
layout: default
---

<div class="ms-hero">
  <div class="ms-hero-body">
    <h1 class="ms-hero-title">Hero</h1>
    <div class="ms-hero-subtitle">
      <h3>This is hero.</h3>
    </div>
    <div class="ms-hero-content">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic fugiat
        nemo atque maiores at labore dolor expedita cupiditate aut. Numquam
        voluptatum repellat sequi accusantium enim eaque sunt quis natus
        illo.<br />
      </p>
      <a href="#" class="ms-btn ms-primary">View project on GitHub</a>
    </div>
  </div>
</div>

<div class="container">{{ content }}</div>
